@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fade {
    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 1;
        transition: opacity 300ms;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        opacity: 0;
        transition: opacity 300ms;
    }
}

.fade-down {
    &-enter {
        transform: translate(0, 10px);
        opacity: 0;
    }

    &-enter-active {
        transition: 0.3s ease;
        transition-property: opacity, transform;
        transform: translate(0, 0);
        opacity: 1;
    }

    &-exit {
        transform: translate(0, 0);
        opacity: 1;
    }

    &-exit-active {
        transition: 0.3s ease;
        transition-property: opacity, transform;
        transform: translate(0, 10px);
        opacity: 0;
    }
}

.fade-top {
    &-enter {
        transform: translate(0, -10px);
        opacity: 0;
    }

    &-enter-active {
        transition: 0.3s ease;
        transition-property: opacity, transform;
        transform: translate(0, 0);
        opacity: 1;
    }

    &-exit {
        transform: translate(0, 0);
        opacity: 1;
    }

    &-exit-active {
        transition: 0.3s ease;
        transition-property: opacity, transform;
        transform: translate(0, -10px);
        opacity: 0;
    }
}

.transform-down {
    &-enter {
        transform: translate(0, 100%);

        &-active {
            transition: transform 0.4s ease-out;
        }

        &-to {
            transform: translate(0, 0);
        }
    }

    &-leave {
        transform: translate(0, 0);

        &-active {
            transition: transform 0.233s ease;
        }

        &-to {
            transform: translate(0, 100%);
        }
    }
}

.transform-left {
    &-enter {
        transform: translate(100%, 0);

        &-active {
            transition: transform 0.233s cubic-bezier(1, 0, 0, 1);
        }

        &-to {
            transform: translate(0, 0);
        }
    }

    &-leave {
        transform: translate(0, 0);

        &-active {
            transition: transform 0.233s cubic-bezier(1, 0, 0, 1);
        }

        &-to {
            transform: translate(100%, 0);
        }
    }
}

.transform-right {
    &-enter {
        transform: translate(-100%, 0);

        &-active {
            transition: transform 0.233s cubic-bezier(1, 0, 0, 1);
        }

        &-to {
            transform: translate(0, 0);
        }
    }

    &-leave {
        transform: translate(0, 0);

        &-active {
            transition: transform 0.233s cubic-bezier(1, 0, 0, 1);
        }

        &-to {
            transform: translate(-100%, 0);
        }
    }
}
