$icons: (
    close:                '\e900',
    edit:                 '\e901',
    filter:               '\e902',
    income:               '\e903',
    minus:                '\e904',
    placeholder:          '\e905',
    plus:                 '\e906',
    search:               '\e907',
    shop:                 '\e908',
    sort:                 '\e909',
    sort-vertical:        '\e90a',
    trash:                '\e90b',
    arrow-bottom:         '\e90c',
    arrow-left:           '\e90d',
    arrow-top:            '\e90e',
    card-bank:            '\e90f',
    cart:                 '\e910',
    check:                '\e911',
);
