.cart {
    display: flex;
    align-items: center;
    padding: toRem(10) toRem(16);
    color: var(--controlBrandBackground);

    &__content {
        display: flex;
        align-items: center;
        margin-left: toRem(4);
    }

    &__title {
        @include fontSize(p1);
    }

    &__icon {
        font-size: toRem(20);

        &--content {
            margin-left: toRem(4);
        }
    }

    &__main {
        position: relative;
    }

    &__counter {
        position: absolute;
        top: toRem(-3);
        right: toRem(-4);
    }
}